<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>415205636394-26mfoom5hfm2mljefmq7drt5hcngjtc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415205636394-26mfoom5hfm2mljefmq7drt5hcngjtc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDyJ1r3OYquSzr8UHHVdioFqqRL9Ih5XhM</string>
	<key>GCM_SENDER_ID</key>
	<string>415205636394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Deeptanshu.MHacks9</string>
	<key>PROJECT_ID</key>
	<string>mhacks9-fead9</string>
	<key>STORAGE_BUCKET</key>
	<string>mhacks9-fead9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:415205636394:ios:99c7e3366d139ceb</string>
	<key>DATABASE_URL</key>
	<string>https://mhacks9-fead9.firebaseio.com</string>
</dict>
</plist>